@page "/railcartrips"
@using Microsoft.EntityFrameworkCore
@using Railcar_Trips.Data
@using Railcar_Trips.Data.Models
@rendermode InteractiveServer
@inject RailcarTripsDbContext context

<PageTitle>Railcar Trips</PageTitle>

<h1>Upload Railcar Equipment CSV file</h1>

@* Must be csv file *@
<InputFile OnChange="ReadCsv" accept=".csv" class="form-control" />

<p />

<h1>Trips</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Equipment Id</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Start date/time (in local time zone)</th>
                <th>End date/time (in local time zone)</th>
                <th>Total trip hours</th>
            </tr>
        </thead>
        <tbody>
        @if (Trips != null)
        {
            @foreach (var t in Trips)
            {
                <tr>
                    <td>@t.EquipmentId</td>
                    <td>@t.OriginCity?.CityName</td>
                    <td>@t.DestinationCity?.CityName</td>
                    <td>@t.StartUTC</td>
                    <td>@t.EndUTC</td>
                    <td>@(t.TotalTripHours > 0 ? t.TotalTripHours?.ToString("0.00") : "")
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

@code {
    private List<Trip> Trips = new();

    private async Task ReadCsv(InputFileChangeEventArgs e)
    {
        var ReleasedEvents = new List<Event>();
        var PlacedEvents = new List<Event>();

        var newTrips = new List<Trip>();

        // Clear tables before loading new data
        context.Trips.RemoveRange(context.Trips);
        context.Events.RemoveRange(context.Events);
        context.SaveChanges();

        // TODO: handle csv file that doesn't match expected format

        // Assuming valid input file
        var file = e.File;

        using var stream = file.OpenReadStream();
        using var reader = new StreamReader(stream);

        string? line;
        var skipHeaders = false;

        // Map cities into dictionary to speed up lookup
        var cityLookup = context.Cities.ToDictionary(c => c.CityId, c => c);

        while ((line = await reader.ReadLineAsync()) != null)
        {
            if (!skipHeaders)
            {
                skipHeaders = true;
                continue;
            }

            var data = line.Split(',');

            // Assuming valid data
            var EquipmentId = data[0];
            var EventCode = data[1];
            var EventTime = DateTime.Parse(data[2]);
            var CityId = Convert.ToInt32(data[3]);

            switch (EventCode)
            {
                case "W":
                    ReleasedEvents.Add(new Event
                    {
                        EquipmentId = EquipmentId,
                        EventCode = EventCode,
                        EventTime = EventTime,
                        CityId = CityId
                    });

                    // Create new trips from released events
                    newTrips.Add(new Trip
                    {
                        EquipmentId = EquipmentId,
                        StartUTC = EventTime,
                        OriginCityId = CityId
                    });

                    break;
                case "Z":
                    PlacedEvents.Add(new Event
                    {
                        EquipmentId = EquipmentId,
                        EventCode = EventCode,
                        EventTime = EventTime,
                        CityId = CityId,
                    });
                    break;
                default:
                    break;
            }
        }

        // Save To DB
        context.Events.AddRange(ReleasedEvents);
        context.Events.AddRange(PlacedEvents);
        context.Trips.AddRange(newTrips);
        context.SaveChanges();

        // Order events so that start and end times match
        newTrips = newTrips.OrderBy(t => t.StartUTC).ToList();
        PlacedEvents = PlacedEvents.OrderBy(e => e.EventTime).ToList();

        // End trips with placed events
        // This assumes that the events are in order by start and end time
        foreach (var Event in PlacedEvents)
        {
            // Find the trip with the same equipment id that doesn't have an end time yet
            var trip = newTrips.FirstOrDefault(t => t.EquipmentId == Event.EquipmentId && t.EndUTC == null);

            // If a trip is found, Update the trip with the end time and destination city
            if (trip != null)
            {
                trip.EndUTC = Event.EventTime;
                trip.DestinationCityId = Event.CityId;

                // calculate TotalTripHours
                trip.TotalTripHours = (trip.EndUTC - trip.StartUTC)?.TotalHours;

                // Save changes to the trip in the database
                context.Trips.Update(trip);
            }
        }

        // Update DB
        context.SaveChanges();

        // Load trips into table
        // Map origin and destination city names using the CityId foreign key
        Trips = context.Trips.Include(t => t.OriginCity)
                             .Include(t => t.DestinationCity)
                             .ToList();
        StateHasChanged();
    }
}

